/* Genérico */
:root {
    --el-color: #333;
}

.m-t {
    margin-top: 150px;
}

.m-b {
    margin-bottom: 100px;
}

/* Afecta a todos los elementos que forman la web */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Cambios que afectan al body */
body {
    font-family: "Poppins", sans-serif;
}

/* Container */
.container {
    width: 70%;
    margin: auto;
}

/* Cambio que a fectan a los h, a y p*/
h1, h2, h3, h4, a, p {
    color: var(--el-color);
}

/* a */
a {
    text-decoration: none;
}

/* h1 */
h1 {
    font-size: 2.5rem;
}

/* h2 */
h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/* h3 */
h3 {
    font-weight: 600;
}

/* p */
p {
    font-weight: 300;
}

/* Header*/
nav {
    height: 100px;
}

nav h2 {
    float: left;
    display: inline;
    line-height: 100px;
}

nav ul {
    float: right;
    line-height: 100px;
}

nav ul li {
    display: inline-block;
    margin: 0px 25px;
}

nav ul li a {
    text-transform: uppercase;
}

/* Página actual*/
.ui-state-active {
    background-color: #eb7620;
    color: #fff;
    border-radius: 20px;
    padding: 7px 25px;
}