<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- To ensure proper rendering and touch zooming in mobile phone-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <link href="/Styles.css" rel="stylesheet">
    <link href="/images/webIcon.ico" rel="icon">
    <title>Hazt-Ver</title>
</head>
<body>
<!--Sección para la imagen y la barra de navegación-->
<section class="header">
    <nav>
        <a><img src="images/webIcon.ico"></a>
        <div class="nav-links">
            <ul>
                <li href="#">Proyectos</li>
                <li href="#">Currículum</li>
                <li href="#">Contacto</li>
            </ul>
        </div>
    </nav>
</section>
</body>
</html>