/* ---Configuración general de la web--- */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------------- */
/* ---Configuración de la imagen--- */
.header {
    min-height: 115vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../images/primeraportadaproyecto.jpg");
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
}

/* ----------------------------------- */
/* Top nav bar y menú de opciones*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
    cursor: pointer;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

/* Cuando se pasa el ratón por encima de las opciones del menú, se subraya */
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: darkgrey;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* ----------------------------------- */
/* --- Meú lateral --- */
nav .fa {
    display: none;
}

/* --------------- */

/* --- Trayectoria --- */
.battleShipProject {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.battleShipProject h1 {
    font-size: 36px;
    font-weight: 600;
}

.battleShipProject p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.chatProject {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.chatProject h1 {
    font-size: 36px;
    font-weight: 600;
}

.chatProject p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.battleShip {
    position: absolute;
    left: 35%;
    width: max-content;
    margin-bottom: 10px;
    padding-top: 20px;
}

.battleShip-col {
    box-sizing: border-box;
    float: left;
    width: 200px;
    padding: 10px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#battleShip-description {
    width: 500px;
}

#contract {
    font-weight: bold;
    display: inline-block;
}

#battleShip-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../images/hundirflota.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 15px;
}

.battleShip:after {
    content: "";
    display: table;
    clear: both;
}

/* --- Chat --- */
.chat {
    position: absolute;
    left: 35%;
    width: max-content;
    margin-bottom: 10px;
    padding-top: 300px;
}

.chat-col {
    box-sizing: border-box;
    float: left;
    width: 200px;
    padding: 10px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#chat-description {
    width: 500px;
    margin-bottom: 10px;
}

#contractChat {
    font-weight: bold;
    display: inline-block;
}

#chat-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../images/chat.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-top: 15px;
}

.chat:after {
    content: "";
    display: table;
    clear: both;
}

/* --- Footer ---*/
.footer{
    padding-top: 600px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 10px;
}
.icons .fa{
    margin: 0px 13px;
    cursor: pointer;
    padding: 10px 0px;
}
/* ------------------ */
/* ---Responsive--- */
@media (max-width: 600px) {
    .reporting h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    /* --- Se despliega el menú lateral con las opciones del menú */
    .nav-links {
        position: absolute;
        color: black;
        background: white;
        height: 115vh;
        width: 200px;
        top: 0px;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    #start {
        color: black;
    }

    #projects {
        color: black;
    }

    #cv {
        color: black;
    }

    #contact {
        color: black;
    }

    /* Los iconos de menu y cerrar se muestran */
    nav .fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    #bar {
        color: white;
    }

    .nav-links ul {
        padding: 30px;
    }

    .battleShipProject {
        padding-top: 300px;
    }

    .battleShip-description {
        width: 100%;
    }

    .battleShip-image {
        width: 100%;
        padding-top: 20px;
    }

    .chat-image {
        width: 100%;
        padding-top: 300px;
    }

    .chat-description {
        width: 100%;
        padding-top: 20px;
    }
}

/*-----------------*/
